.dialogs{
    width:50%;
    height: 20%;
    position: absolute;
    left:50%;
    top:2%;
    transform: translateX(-50%);
    background: #daa520;
    font-size:.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    color: aliceblue;
    border-radius: 5px;
}
.dialogs span{
    display: block
}
