html{
  font-size: calc(100/750*100vw)
}
.LineBox {
  width: 100%;
  font-size: 14px;
}
.com {
  width: 100%;
  display: flex;
  background: #fff;
  border-top: 1px solid #ccc;
}
.cva {
  background: #fff;
}
@media screen and (min-width: 1200px) {
  .cva {
    height: 400px;
    margin-top: 20px;
    padding: 30px;
  }
  .com .times {
    width: 150px;
    padding: 10px
  }
  .times span {
    display: block;
    line-height: 20px;
  }
  .presenting {
    padding: 10px;
    width: 1100px;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word;
  }
}
@media screen and (max-width: 375px){
  .cva {
    height: 4rem;
    margin-top: .2rem;
    padding: .3rem;

  }
  .com .times {
    padding: .1rem;
  }
  .times span {
    display: block;
    margin-bottom: .1rem
  }
  .presenting {
    padding: .1rem;
    width: 4.7rem;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 376px) and (max-width: 768px){
  .cva {
    height: 400px;
    margin-top: .2rem;
    padding: .3rem;
  }
  .com .times {
    padding: .1rem;
  }
  .times span {
    display: block;
    margin-bottom: .1rem
  }
  .presenting {
    padding: .1rem;
    width: 4.9rem;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px){
  .cva {
    height: 400px;
    margin-top: 20px;
    padding: 30px;
  }
  .com .times {
    width: 130px;
    padding: 10px;
  }
  .times span {
    display: block;
    line-height: 20px;
  }
  .presenting {
    padding: 10px;
    width: 580px;
    word-break: normal;
    white-space: pre-warp;
    word-wrap: break-word;
  }
}

